.card__image {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    height: 282px;
    transition: transform .9s ease-in-out;
}

.card__image:hover {
    transform: scale(1.05);
}
